/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://rsms.me/inter/inter-ui.css');

/******************************************
/* STYLES
/*******************************************/

body {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(51,38,39,.80);
  font-family: 'Inter UI', sans-serif;
  font-weight: 300;
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}

#globalnav li {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  padding: 0.5em 1em 0 0;
  display: inline-block;
}

#globalnav a {
  color: rgba(51,38,39,.80);
}

#globalnav a:hover {
  color: rgba(35,175,75,1.0);
  transition: 0.8s ease;
}

.active-nav {
  font-weight: 600;
  color: rgba(51,38,39,1);
}

.disabled {
  opacity: .48;
  cursor: not-allowed;
}

.space {
  padding-top: 1em;
}

a {
  color: rgba(35,178,75,1);
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: rgb(51,38,39);
  transition: 0.8s ease;
}

header {
  margin-bottom: 3em;
  justify-content: space-between;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: rgba(51,38,39,1);
  font-size: 2em;
  padding-bottom: 0.5em;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: rgba(51,38,39,1);
  font-size: 1.5em;
}

h3 {
  font-family: 'Inter UI', sans-serif;
  font-size: 1.25em;
  color: rgba(51,38,39,1);
}

h6 {
  color: rgba(68,51,87,.5);
  text-transform: uppercase;
  font-weight: 700;
}

p {
  padding-bottom:2em;
}

input, textarea {
  display: block;
  border: 1px solid rgba(68,51,87,.25);
  font-family: 'Inter UI', sans-serif;
  font-size: 1em;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;
  width: 72%;
}

footer {
  color: rgba(51,38,39,.5);
  font-size: .75em;
  text-transform: uppercase;
  margin-top: 4em;
}

#mainlogo {
  padding: 32px 0 16px 0;
}

input[type=submit] {
  background-color: rgba(35,178,75,1);
  font-weight: 700;
  color: white;
  margin-top: 16px;
  font-size: 1em;
}
strong {
  font-family: 'Inter UI', sans-serif;
  font-weight: bold;
}


/******************************************
/* LAYOUT
/*******************************************/

#logo {
  height: 24px;
  float: left;
  align-items: center;
}

.flex {
  display: flex;
}

.col-2 {
  flex-direction: column;
  float: left;
  width: 50%;
}
.col-4 {
  flex-direction: column;
  float: left;
  width: 25%;
}
.col-3q {
  flex-direction: column;
  float: left;
  width: 75%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

/******************************************
/* RESPONSIVE
/*******************************************/

@media (max-width: 470px) {
  .stack {
    width: 100%; 
    display: inline-block;
  }

  input, textarea {
    display: block;
    width: 100%;
  }
}
