/* LIGHTBOX

/* modal background */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 3em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(51,38,39,1);
}

/* modal content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* close */
.close {
  color: white;
  position: absolute;
  top: 1em;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgba(255,255,255,.5);
  text-decoration: none;
  cursor: pointer;
  transition: 0.6s ease;
}

.mySlides {
  display: none;
}

.mySlides img {
  display: block;
}

.cursor {
  cursor: pointer;
}

/* next, prev buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 2em 1em 2em 1em;
  margin-top: -50px;
  color: rgba(51,38,39,1);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(255,255,255,0.8);
}

/* position "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* on hover */
.prev:hover,
.next:hover {
  color: rgba(35,175,75,1.0);
}

.caption-container {
  text-align: center;
  background-color: rgba(51,38,39,1);
  padding: 1em 0 1.5em 0;
  line-height: 1.2em;
  color: white;
}

.demo {
  opacity: 0.5;
  transition: 0.4s;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.4s;
}

.hover-shadow:hover {
  opacity: .5;
}

/* scale video */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}    