/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/******************************************
/* STYLES
/*******************************************/

body {
  font-size: 18px;
  line-height: 1.5;
  color: rgba(68,51,87,.75);
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  max-width: 768px;
  margin: 0 auto;
  padding: 16px;
}

#globalnav li {
  font-size: 16px;
  font-family: 'Prata', serif;
  text-transform: capitalize;
  padding: 0 16px 0 0;
  display: inline-block;
}

#globalnav nav {
  float: right;
}

.disabled {
  color: rgba(20,174,169,.48);
}

.space {
  padding-top: 2em;
}

a {
  text-decoration: none;
  color: rgb(20,174,169);
}

a:hover {
  color: rgb(68,51,87);
}

header {
  margin-bottom: 3em;
}

h1 {
  font-family: 'Prata', serif;
  color: rgba(68,51,87,1);
  font-size: 2.5em;
}

h2 {
  font-family: 'Prata', serif;
  color: rgba(68,51,87,1);
  font-size: 2em;
}

h3 {
  font-family: 'Prata', serif;
  color: rgba(68,51,87,1);
  font-size: 1.5em;
}

h6 {
  color: rgba(68,51,87,.5);
  text-transform: uppercase;
  font-weight: 700;
}

input, textarea {
  display: block;
  border: 1px solid rgba(68,51,87,.25);
  font-family: 'Lato', serif;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;
  width: 72%;
}

::placeholder {
  color: rgba(68,51,87,.25);
  font-size: 16px;
}

input[type=submit] {
  background-color: rgba(20,174,169,1);
  font-weight: 700;
  color: white;
  margin-top: 16px;
  font-size: 18px;
}

#navdrawer {
    display: none;
  }


/******************************************
/* LAYOUT
/*******************************************/

#logo {
  height: 24px;
  float: left;
  align-items: center;
}

.flex {
  display: flex;
}

.col {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  float: left;
  width: 50%;
}
.row {
  display: flex;
}

/******************************************
/* RESPONSIVE
/*******************************************/

@media (max-width: 375px) {
  .stack {
    width: 100%; 
    display: inline-block;
  }
  nav {
    width:100%;
    float: right;
    display: none;
  }
  input, textarea {
    display: block;
    width: 100%;
  }
  #navdrawer {
    width: 100%;
    display: block;
    float: right;
    color: rgba(68,51,87,1);
    cursor: pointer;
  }
}
