.location {
	justify-content: center;
	align-items: center;
	height: 100%;
	color: white;
}

.kauai {
	background:
	linear-gradient(0deg,rgba(68,51,87,.75),rgba(68,51,87,.75)),
	url(../trvl/img-cover/elise-colley-79531-unsplash.jpg) center center no-repeat;
}

.houston {
	background: 
	linear-gradient(0deg,rgba(68,51,87,.75),rgba(68,51,87,.75)),
	url(../trvl/img-cover/marcus-wright-546452-unsplash.jpg) center center no-repeat;
}

.seoul {
	background: 
	linear-gradient(0deg,rgba(68,51,87,.75),rgba(68,51,87,.75)),
	url(../trvl/img-cover/saveliy-bobov-535623-unsplash.jpg) center center no-repeat;
}

.victoria {
	background: 
	linear-gradient(0deg,rgba(68,51,87,.75),rgba(68,51,87,.75)),
	url(../trvl/img-cover/ivana-cajina-423473-unsplash.jpg) center center no-repeat;
}

.nola {
	background:
	linear-gradient(0deg,rgba(68,51,87,.75),rgba(68,51,87,.75)),
	url(../trvl/img-cover/william-recinos-194213-unsplash.jpg) center center no-repeat;
}

.cover {
	background-size: cover;
	overflow: hidden;
	height: 200px;
	padding-bottom: 8px;
}

.cover>p {
	font-size: .8em;
	display: flex;
	justify-content: center;
	color: rgba(255,255,255,.5);
	text-transform: uppercase;
}
